# sets

In [2]:
s1={1,2,3}
s2={1,2,3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [3]:
s1&s2

{1, 2, 3}

In [4]:
s1-s2

set()

In [5]:
s2-s1

{4, 5}

In [6]:
s1<s2

True

In [7]:
s2>s1

True

In [8]:
s1>s2

False

In [9]:
list1={1,2,3,4,5,6,1,1,1,2,2,3,4,6,8,9}

In [10]:
list1

{1, 2, 3, 4, 5, 6, 8, 9}

set2={1,2,3}

In [12]:
set2={1,2,3}
set2

{1, 2, 3}

# list of comprahences

In [13]:
p=[]
for x in range(10):
    p.append(x**2)
print(p)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
[x**2 for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

In [17]:
ans=[]
for x in range(10):
    if x%2==0:
        ans.append(x**2)
print(ans)

[0, 4, 16, 36, 64]

In [23]:
[x for x in range(100) if x%2==0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [24]:
[x for x in range(100) if x%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [27]:
[(x,x**2) for x in range(10)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [28]:
s1="abcdeabcd"
s2="abc"
[x for x in s1 if x not in s2]

['d', 'e', 'd']

In [30]:
s1="abcdeabcd"
s2="abc"
{x for x in s1 if x not in s2}

{'d', 'e'}

In [31]:
set1=set(s1)
set2=set(s2)
set1-set2

{'d', 'e'}

In [32]:
set3=set()
for x in s1:
    if(x not in s2):
        set3.add(x)
print(set3)

{'e', 'd'}